.one{
    text-align: center;
    color:white;
}
body{
    background-color: dimgray;
    color:white;
}
.sub{
    color:chartreuse
 

}
.two{
    color:blue;
    

}
.div{
    color:chartreuse;
}
.three{
    color:crimson
}
.four{
    color:hotpink
}